[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pre-commit = "*"
m2r = "*"
tox = "*"
invoke = "*"

[packages]
progressbar2 = "*"
pyfakefs = "*"
chardet = "*"
blessings = "*"
pygments = "*"
prettytable = "*"
